:root
{
 --bg:#003049;
 --secondary: #8d99ae;
 --primaryText: #fcbf49;
 font-family: Arial, Helvetica, sans-serif;
}
body
{
    height:98vh;
    background-color: var(--bg);
}
.title
{
    color:var(--primaryText);
    font-size:5rem;
    display:flex;
    justify-content: center;
}
.gameBoard
{
    display:grid;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    width:fit-content;
    background-color: none;
    gap:1rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.tile
{
    display:flex;
    justify-self: center;
    background-color:var(--secondary);
    width:10rem;
    height:10rem;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
}
.tura
{
    padding:1rem;
    display: flex;
    color:var(--primaryText);
    font-size:3rem;
    justify-content: center;
}
.newGame
{
   
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    width:70%;
    color: var(--primaryText);
    gap:0.2rem;
    margin-top:1rem;
}
.button
{
    color:var(--primaryText);
    display:inline-block;
    width:fit-content;
    padding:1rem;
    background-color: black;
    border-radius: 1rem;
    align-self: center;
    transition: 0.5s;
}
.button:hover
{
    transition: 0.5s;
    transform:scale(1.1);
}
select
{
    width:fit-content;
}